@charset "utf-8";

body {
  margin: 0;
  padding: 0;
  padding-top: 40px;
  font-family: 'Courier New', monospace;
}

p {
  text-align: center;
}

#target {
  padding-top: 32px;
  font-size: 48px;
  letter-spacing: 0.1em;
}